<main>

  <!-- Page Head -->
  <section class="page-head">
    <h1>My Bookmarks</h1>
    <p class="text-grey">Delicious recipe ideas classified by theme or by category, with photos, easy or technical, 100% tested.</p>
    <img src="assets/img/bookmarks_head.png" alt="" class="page-head__image">
    <img src="assets/img/mouse.png" alt="" class="page-head__mouse">
  </section>

  <!-- Recipes Container -->
  <section style="margin-bottom: 100px;">
    <!-- Recipes List – get bookmarked recipes -->
    <app-recipes-list></app-recipes-list>
  </section>
</main>