<footer style="background-image: url('assets/img/footer.png');" class="text-white">
  <img src="assets/img/logo_invert.png" alt="CuistHouse Logo" class="footer__logo">
  <ul class="footer__list">
    <li><strong>Contact</strong></li>
    <li>Lorem ipsum, #239, blablamonadresse</li>
    <li>Nouléla. Fésakwivé</li>
    <li>Telephone: +00 99999-88888</li>
    <li>E-mail: mail@cuisthouse.com</li>
  </ul>
  <ul class="footer__list">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
    <li><a routerLink="/bookmarks" routerLinkActive="active">Favorites</a></li>
  </ul>
</footer>