<header>
  <h1 class="header__title-logo">
    <img src="assets/img/logo.png" alt="CuistHouse">
  </h1>
  <nav class="header__navigation text-white">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
    <a routerLink="/bookmarks" routerLinkActive="active">Favorites</a>
    <select class="primary pill" name="" id="">
      <option value="en">EN  🇬🇧</option>
      <option value="fr">FR  🇫🇷</option>
    </select>
  </nav>
</header>